<h1>Hello World</h1>
<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>

<hr/>

<h1>React Double Number Example</h1>
<%= react_component("DoubleNumberApp", props: @double_number_props, prerender: false) %>
